:root{
    --main: #011627;
    --secondary: #FFF8F0;
    --accent: #705D56;
    font-family: 'Inter', sans-serif; 
    color: var(--secondary);

}

body {
    background-color: var(--main);
}


::placeholder{
    color:var(--secondary);
    opacity: 0.8;
}

input, input [type=text] {
    background-color: var(--main);
    border: 0;
    outline: 0;
    width: 15%;
    border-bottom: 2px solid var(--secondary);
    color:var(--secondary);
    font-size: 1.3rem;
    margin-right: 15px;

}

button{
    background-color: var(--secondary);
    color: var(--main);
    border-style: none;
    padding: 5px;
    width: 15%;
    margin-top: 10px;
    border-width: 3px;
    border-radius: 8px;
    font-size: 1rem;
    align-self: center;
}

#searchButton svg {
    fill: var(--main);
} 

#wicon{
    display: none;
}

.displayArea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

