:root{
    --main: #011627;
    --secondary: #FFF8F0;
    --accent: #705D56;
    font-family: 'Inter', sans-serif; 
    color: var(--secondary);

}

body {
    background-color: var(--main);
}


::placeholder{
    color:var(--secondary);
    opacity: 0.8;
}

input, input [type=text] {
    background-color: var(--main);
    border: 0;
    outline: 0;
    width: 15%;
    border-bottom: 2px solid var(--secondary);
    color:var(--secondary);
    font-size: 1.3rem;
    

}

button{
    background-color: var(--main);
    color: var(--secondary);
    border-style: solid;
    border-color: var(--secondary);
    padding: 5px;
    width: 15%;
    margin-top: 10px;
    border-width: 3px;
    font-size: 1rem;
    align-self: center;
    text-align: center;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);

}

#searchButton svg {
    fill: var(--secondary);
} 

#wicon{
    display: none;
}

.displayArea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#dropDownText{
    color: rgb(255, 255, 255);
}

.dropdown-content{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
}

.show{
    display: contents;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 15%;
  }

  .dropdown-content p {
    color: var(--secondary);
    background-color: var(--main);
    border-color: var(--secondary);
    border-style: solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    min-width: 160px;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
  }

  .dropdown-content p:hover {
    transform: scale(1.01);
  }